.detailContainer {
  padding: 2%;
  flex: 1;
  background-color: #000;
  color: #fff;
  height: 100vh;
  padding-top: 50px;
  overflow-y: scroll; /* 保持滚动功能 */
  border-radius: 3%;
  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.backButton {
  position: relative;
  top: -10px;
  left: -10px;
  margin-bottom: 0 px;
  padding: 0px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.backButton:hover {
  color: #0056b3;
}

.forwardPost {
  border: 2px solid #5f5f5f;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: 0 0 8px #000000;
  cursor: auto;
}

.post {
  border: 2px solid #5f5f5f;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: 0 0 8px #000000;
  cursor: auto;
}

.forwardPostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 16px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 13px;
}

.forwardUserInfo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px; /* 用户名和头像之间的间距 */
}

.userInfo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px; /* 用户名和头像之间的间距 */
  text-align: justify;
}

.forwardAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 圆形头像 */
  object-fit: cover; /* 裁剪图片以适应容器 */
  background-color: #fffefe; /* 透明 */
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* 圆形头像 */
  object-fit: cover; /* 裁剪图片以适应容器 */
  background-color: #fffefe; /* 透明 */
}
.forwardPostTime {
  font-size: 14px;
  color: #c8c8c8;
}

.postTime {
  font-size: 12px;
  color: #c8c8c8;
}

.forwardUserName {
  font-weight: bold;
}

.userName {
  font-weight: bold;
}

.forwardPostContent {
  color: #ffffff;
  font-size: 16px;
  margin: 16px 16px 16px 16px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5; /* 设置行高 */
  overflow-wrap: break-word; /* 保证文本在必要时换行 */
  white-space: pre-wrap; /* 保留换行和空格，同时允许自动换行 */
}

.postContent {
  color: #ffffff;
  font-size: 16px;
  margin: 16px 16px 16px 24px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  overflow-wrap: break-word; /* 保证文本在必要时换行 */
  white-space: pre-wrap; /* 保留换行和空格，同时允许自动换行 */
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gridItem {
  flex: 1 1 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px); /* 控制最大宽度 */
  box-sizing: border-box;
}

.gridImage {
  width: 100%;
  height: 200px; /* 统一图片高度 */
  object-fit: cover; /* 确保图片保持比例缩放 */
  border-radius: 5px;
  cursor: pointer;
}

.commentsSection {
  margin-top: 20px;
}

.commentList {
  margin-bottom: 60px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px; /* 用户头像和名字之间的间距 */
  margin-bottom: 8px; /* 评论内容与用户信息的间距 */
}

.commentAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* 圆形头像 */
  object-fit: cover;
  background-color: #f0f0f0; /* 默认背景色 */
}

.commentUsername {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.commentTime {
  font-size: 12px;
  color: #888;
  display: block;
  margin-top: 5px;
}

.addComment {
  display: flex;
  flex-direction: column;
}

.commentInput {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.commentButton {
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.commentButton:hover {
  background-color: #0056b3;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 24.2%;
  width: 30px;
  height: 30px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scrollToTopButton:hover {
  background-color: #0056b3;
  transform: scale(1.5);
}

.scrollToTopButton i {
  font-size: 16px;
  margin-top: 50%;
  transform: translateY(-30%);
}

.clamped {
  -webkit-line-clamp: 2; /* 限制显示2行 */
  text-overflow: ellipsis;
}

.expanded {
  -webkit-line-clamp: unset; /* 展开显示所有内容 */
}

.expandButton {
  float: right;
  margin-top: -1.5rem;
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}
.originalPostClamped {
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* 两个按钮分布在两侧 */
  padding: 1rem 0; /* 添加一些顶部和底部间距 */
}
.deepPostClamped {
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}

.commentContent {
  overflow-wrap: break-word; /* 保证文本在必要时换行 */
  white-space: pre-wrap; /* 保留换行和空格，同时允许自动换行 */
}

.unContent {
  display: inline-block;
  opacity: 0.2;
  transform: translateY(-3px);
  margin-left: 8px;
}

.tooltip {
  position: absolute;
  top: 30px; /* 调整为头像下方 */
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}

.originTooltip {
  position: absolute;
  top: 30px; /* 调整为头像下方 */
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
.deepTooltip {
  position: absolute;
  top: 30px; /* 调整为头像下方 */
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
}
