.chatContainer {
  width: 400px;
  background-color: #121212;
  color: #ffffff;
  border-top: 4px solid #333;
  padding: 10px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* 添加过渡效果 */
}

.chatContainerLight {
  width: 400px;
  background-color: #ffffff;
  color: #000000;
  border-top: 4px solid #c5c5c5;
  padding: 10px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* 添加过渡效果 */
}

.header {
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.chatWindow {
  height: 300px;
  overflow-y: auto;
  background-color: #1e1e1e;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chatWindowLight {
  height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.message {
  margin: 8px 0;
  padding: 2px 8px 2px 8px;
  border-radius: 4px;
  max-width: 70%;
  word-wrap: break-word;
}

.user {
  background-color: #333;
  color: #ffffff;
  align-self: flex-end;
}

.userLight {
  background-color: #eeeeee;
  color: #252525;
  align-self: flex-end;
}

.assistant {
  background-color: #444;
  color: #ffffff;
  align-self: flex-start;
}

.assistantLight {
  background-color: #eeeeee;
  color: #252525;
  align-self: flex-start;
}


.inputArea {
  display: flex;
}

.input {
  flex: 1;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  outline: none;
}

.inputLight {
  flex: 1;
  padding: 8px;
  background-color: #d8d8d8;
  color: #000000;
  border: 1px solid #bababa;
  outline: none;
}

.button {
  padding: 8px 12px;
  margin-left: 5px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonLight {
  padding: 8px 12px;
  margin-left: 5px;
  background-color: #d3d3d3;
  color: #000000;
  border: none;
  cursor: pointer;
}


.imageContainer {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.downloadButton {
  display: inline-block;
  width: 50px;
  position: relative;
  left: 72%;
  top: -12.5%;
  font-size: 12px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.downloadButton:hover {
  background-color: #0056b3;
}
